{% extends "article/base.html" %}
<!DOCTYPE html>
{% block content %}
<!--<div class="container">-->
<div class="row alert alert-info">
  <div class="col-md-12">
    {% for article in articles %}
    <div class="container-fluid">
      <div class="row alert alert-secondary">
        <div class="col-lg-12">
          <h3 class="text-center">Press Release</h3>
        </div>
      </div>
    </div>
    <article class="col-md-12">
      <div class="card">
        <img
          class="card-img-top"
          src="{{ article.a_image.url }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title text-center">{{ article.a_title }}</h5>
          <small
            >posted by:{{ article.author }}<br />
            {{article.a_date_posted|date:"F d, Y" }}
          </small>
          <p class="card-text">{{ article.a_content }}</p>
          <a href="#" class="btn btn-primary">more news!!..</a>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
</div>
{% endblock content %}
