{% extends "article/base.html" %}


{% block content %}
<section>
<div class="container">
       <div class="row alert alert-info">
           <div class="row alert alert-danger">
               <center><h3>P R E S S  <br />  R E L E A S E</h3></center>
           </div>

            <div class="col-md-12">
                {% for article in articles %}
                   <div class="card-body">
                        <h5 class="card-title text-center">{{ article.a_title }}</h5>
                        <small>posted by:{{ article.author }}<br />
                                         {{article.a_date_posted|date:"F d, Y" }}
                        </small>
                   </div>
                   <div>
                        <p class="card-text">{{ article.a_content|safe }}</p>
                        <a href="#" class="btn btn-primary">more news!!..</a>
                   </div>
            </div>
             {% endfor %}
       </div>
       <div class="row alert alert-danger">
           <div class="col-md-12">
               asdasdf
           </div>
       </div>

       <div class="row alert alert-primary">
           <div class="col-md-12">
               asdasdf
           </div>
       </div>
       <div class="row alert alert-secondary">
           <div class="col-md-12">
               asdasdf
           </div>
       </div>
    <div class="row alert alert-secondary">
           <div class="col-md-12">
               asdasdf
           </div>
       </div>

</div>
</section>
{% endblock content %}

 {% block section %}
      <div class="container ">
          <div class="row alert alert-info">
              adfasdf asdsad asdf
          </div>
      </div>
      <div class="container">
          <div class="row alert alert-info">
              adfasdf asdsad asdf
          </div>
      </div>
{% endblock section %}


